HTTP

#### HTTP

#### HTTP 请求
>POST
>当使用applicatino/x-www-form-urlencoded 或者 multipart/for-data 作为ContentType的时候，$_POST的取值才会生效。
```javascript
header: {
          // 'Content-Type': 'Application/json;charset=UTF-8'
          'Content-Type':'Application/x-www-form-urlencoded'
        }
```

#### HTTP 状态码
>
![http-status](https://user-images.githubusercontent.com/30850497/43110888-fc1ffc0c-8f20-11e8-931d-5b9958360361.png)


#### HTTP状态码 wiki

>HTTP状态码（英语：HTTP Status Code）是用以表示网页服务器超文本传输协议响应状态的3位数字代码。它由 RFC 2616 规范定义的，并得到 RFC 2518、RFC 2817、RFC 2295、RFC 2774 与 RFC 4918 等规范扩展。所有状态码的第一个数字代表了响应的五种状态之一。所示的消息短语是典型的，但是可以提供任何可读取的替代方案。 除非另有说明，状态码是HTTP / 1.1标准（RFC 7231）的一部分。[1]
HTTP状态码的官方注册表由互联网号码分配局（Internet Assigned Numbers Authority）维护。[2]
微软互联网信息服务 （Microsoft Internet Information Services）有时会使用额外的十进制子代码来获取更多具体信息，[3]但是这些子代码仅出现在响应有效内容和文档中，而不是代替实际的HTTP状态代码。

##### 1xx消息[编辑]
这一类型的状态码，代表请求已被接受，需要继续处理。这类响应是临时响应，只包含状态行和某些可选的响应头信息，并以空行结束。由于HTTP/1.0协议中没有定义任何1xx状态码，所以除非在某些试验条件下，服务器禁止向此类客户端发送1xx响应。[4] 这些状态码代表的响应都是信息性的，标示客户应该采取的其他行动。
100 Continue
服务器已经接收到请求头，并且客户端应继续发送请求主体（在需要发送身体的请求的情况下：例如，POST请求），或者如果请求已经完成，忽略这个响应。服务器必须在请求完成后向客户端发送一个最终响应。要使服务器检查请求的头部，客户端必须在其初始请求中发送Expect: 100-continue作为头部，并在发送正文之前接收100 Continue状态代码。响应代码417期望失败表示请求不应继续。[2]
101 Switching Protocols
服务器已经理解了客户端的请求，并将通过Upgrade消息头通知客户端采用不同的协议来完成这个请求。在发送完这个响应最后的空行后，服务器将会切换到在Upgrade消息头中定义的那些协议。[5]
只有在切换新的协议更有好处的时候才应该采取类似措施。例如，切换到新的HTTP版本（如HTTP/2）比旧版本更有优势，或者切换到一个实时且同步的协议（如WebSocket）以传送利用此类特性的资源。
102 Processing（WebDAV；RFC 2518）
WebDAV请求可能包含许多涉及文件操作的子请求，需要很长时间才能完成请求。该代码表示​​服务器已经收到并正在处理请求，但无响应可用。[6]这样可以防止客户端超时，并假设请求丢失。

#### HTTP头字段 [wiki](https://zh.wikipedia.org/wiki/HTTP头字段#请求字段)

>HTTP状态码（英语：HTTP Status Code）是用以表示网页服务器超文本传输协议响应状态的3位数字代码。它由 RFC 2616 规范定义的，并得到 RFC 2518、RFC 2817、RFC 2295、RFC 2774 与 RFC 4918 等规范扩展。所有状态码的第一个数字代表了响应的五种状态之一。所示的消息短语是典型的，但是可以提供任何可读取的替代方案。 除非另有说明，状态码是HTTP / 1.1标准（RFC 7231）的一部分。[1]

>HTTP状态码的官方注册表由互联网号码分配局（Internet Assigned Numbers Authority）维护。[2]
微软互联网信息服务 （Microsoft Internet Information Services）有时会使用额外的十进制子代码来获取更多具体信息，[3]但是这些子代码仅出现在响应有效内容和文档中，而不是代替实际的HTTP状态代码。

##### 基本格式
>协议头的字段，是在请求（request）或响应（response）行（一条消息的第一行内容）之后传输的。协议头的字段是以明文的字符串格式传输，是以冒号分隔的键名与键值对，以回车(CR)加换行(LF)符号序列结尾。协议头部分的结尾以一个空白字段标识，结果就是，也就是传输两个连续的CR+LF。在历史上，很长的行曾经可能以多个短行的形式传输；在下一行的开头，输出一个空格(SP)或者一个水平制表符(HT)，表示它是一个后续行。在如今，这种换行形式已经被废弃[1]。

##### 类型
HTTP 头字段根据实际用途被分为以下 4 种类型：
通用头字段(英语：General Header Fields)
请求头字段(英语：Request Header Fields)
响应头字段(英语：Response Header Fields)
实体头字段(英语：Entity Header Fields)

##### 字段名
>在 RFC 7230、RFC 7231、RFC 7232、RFC 7233、RFC 7234 和 RFC 7235 中，对一组核心字段进行了标准化。有一份对于这些字段的官方的登记册，以及 一系列的补充规范 ，由互联网号码分配局（IANA）维护。各个应用程序也可以自行定义额外的字段名字及相应的值。头字段的永久登记表和临时登记表目前由IANA维护。其他的字段名称和允许的值可以由各应用程序定义。
按照惯例，非标准的协议头字段是在字段名称前加上X-[2]前缀来标识。但这一惯例已在2012年6月被废弃，因为按照这种惯例，非标准字段变成标准字段时会引起很多不方便之处。[3]以前曾经有的使用Downgraded-的限制也在2013年3月被解除。[4]。

##### 字段值[编辑]
>某些字段中可以包含注释内容（例如User-Agent、Server和Via字段中)，这些注释内容可由应用程序忽略[5]。
>很多字段的值中可以包含带有权重的质量（quality，常被简称为Q）的键值对，指定的“重量”会在内容协商的过程中使用[6]。

##### 大小限制
>标准中没有对每个协议头字段的名称和值的大小设置任何限制，也没有限制字段的个数。然而，出于实际场景及安全性的考虑，大部分的服务器、客户端和代理软件都会实施一些限制。例如，Apache 2.3服务器在默认情况下限制每个字段的大小不得超过8190字节，同时，单个请求中最多有100个头字段[7]。

##### 请求字段


协议头字段名 | 说明 | 示例 | 状态
-- | -- | -- | --
Accept | 能够接受的回应内容类型（Content-Types）。参见内容协商。 | Accept: text/plain | 常设
Accept-Charset | 能够接受的字符集 | Accept-Charset: utf-8 | 常设
Accept-Encoding | 能够接受的编码方式列表。参考HTTP压缩。 | Accept-Encoding: gzip, deflate | 常设
Accept-Language | 能够接受的回应内容的自然语言列表。参考 内容协商 。 | Accept-Language: en-US | 常设
Accept-Datetime | 能够接受的按照时间来表示的版本 | Accept-Datetime: Thu, 31 May 2007 20:35:00 GMT | 临时
Authorization | 用于超文本传输协议的认证的认证信息 | Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ== | 常设
Cache-Control | 用来指定在这次的请求/响应链中的所有缓存机制 都必须 遵守的指令 | Cache-Control: no-cache | 常设
Connection | 该浏览器想要优先使用的连接类型[8] | Connection: keep-aliveConnection: Upgrade | 常设
Cookie | 之前由服务器通过 Set- Cookie （下文详述）发送的一个 超文本传输协议Cookie | Cookie: $Version=1; Skin=new; | 常设: 标准
Content-Length | 以 八位字节数组 （8位的字节）表示的请求体的长度 | Content-Length: 348 | 常设
Content-MD5 | 请求体的内容的二进制 MD5 散列值，以 Base64 编码的结果 | Content-MD5: Q2hlY2sgSW50ZWdyaXR5IQ== | 过时的[9]
Content-Type | 请求体的 多媒体类型 （用于POST和PUT请求中） | Content-Type: application/x-www-form-urlencoded | 常设
Date | 发送该消息的日期和时间(按照 RFC 7231 中定义的"超文本传输协议日期"格式来发送) | Date: Tue, 15 Nov 1994 08:12:31 GMT | 常设
Expect | 表明客户端要求服务器做出特定的行为 | Expect: 100-continue | 常设
From | 发起此请求的用户的邮件地址 | From: user@example.com | 常设
Host | 服务器的域名(用于虚拟主机 )，以及服务器所监听的传输控制协议端口号。如果所请求的端口是对应的服务的标准端口，则端口号可被省略。[10] 自超文件传输协议版本1.1（HTTP/1.1）开始便是必需字段。 | Host: en.wikipedia.org:80Host: en.wikipedia.org | 常设
If-Match | 仅当客户端提供的实体与服务器上对应的实体相匹配时，才进行对应的操作。主要作用时，用作像 PUT 这样的方法中，仅当从用户上次更新某个资源以来，该资源未被修改的情况下，才更新该资源。 | If-Match: "737060cd8c284d8af7ad3082f209582d" | 常设
If-Modified-Since | 允许在对应的内容未被修改的情况下返回304未修改（ 304 Not Modified ） | If-Modified-Since: Sat, 29 Oct 1994 19:43:31 GMT | 常设
If-None-Match | 允许在对应的内容未被修改的情况下返回304未修改（ 304 Not Modified ），参考 超文本传输协议 的实体标记 | If-None-Match: "737060cd8c284d8af7ad3082f209582d" | 常设
If-Range | 如果该实体未被修改过，则向我发送我所缺少的那一个或多个部分；否则，发送整个新的实体 | If-Range: "737060cd8c284d8af7ad3082f209582d" | 常设
If-Unmodified-Since | 仅当该实体自某个特定时间已来未被修改的情况下，才发送回应。 | If-Unmodified-Since: Sat, 29 Oct 1994 19:43:31 GMT | 常设
Max-Forwards | 限制该消息可被代理及网关转发的次数。 | Max-Forwards: 10 | 常设
Origin | 发起一个针对 跨来源资源共享 的请求（要求服务器在回应中加入一个‘访问控制-允许来源’（'Access-Control-Allow-Origin'）字段）。 | Origin: http://www.example-social-network.com | 常设: 标准
Pragma | 与具体的实现相关，这些字段可能在请求/回应链中的任何时候产生多种效果。 | Pragma: no-cache | 常设但不常用
Proxy-Authorization | 用来向代理进行认证的认证信息。 | Proxy-Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ== | 常设
Range | 仅请求某个实体的一部分。字节偏移以0开始。参见字节服务。 | Range: bytes=500-999 | 常设
Referer [sic] [11] | 表示浏览器所访问的前一个页面，正是那个页面上的某个链接将浏览器带到了当前所请求的这个页面。 | Referer: http://en.wikipedia.org/wiki/Main_Page | 常设
TE | 浏览器预期接受的传输编码方式：可使用回应协议头 Transfer-Encoding 字段中的值；另外还可用"trailers"（与"分块 "传输方式相关）这个值来表明浏览器希望在最后一个尺寸为0的块之后还接收到一些额外的字段。 | TE: trailers, deflate | 常设
User-Agent | 浏览器的浏览器身份标识字符串 | User-Agent: Mozilla/5.0 (X11; Linux x86_64; rv:12.0) Gecko/20100101 Firefox/21.0 | 常设
Upgrade | 要求服务器升级到另一个协议。 | Upgrade: HTTP/2.0, SHTTP/1.3, IRC/6.9, RTA/x11 | 常设
Via | 向服务器告知，这个请求是由哪些代理发出的。 | Via: 1.0 fred, 1.1 example.com (Apache/1.1) | 常设
Warning | 一个一般性的警告，告知，在实体内容体中可能存在错误。 | Warning: 199 Miscellaneous warning | 常设



```
import Taro from "@tarojs/taro";

const codeMessage = {
  200: "服务器成功返回请求的数据。",
  201: "新建或修改数据成功。",
  202: "一个请求已经进入后台排队（异步任务）。",
  204: "删除数据成功。",
  400: "发出的请求有错误，服务器没有进行新建或修改数据的操作。",
  401: "用户没有权限（令牌、用户名、密码错误）。",
  403: "用户得到授权，但是访问是被禁止的。",
  404: "发出的请求针对的是不存在的记录，服务器没有进行操作。",
  406: "请求的格式不可得。",
  410: "请求的资源被永久删除，且不会再得到的。",
  422: "当创建一个对象时，发生一个验证错误。",
  500: "服务器发生错误，请检查服务器。",
  502: "网关错误。",
  503: "服务不可用，服务器暂时过载或维护。",
  504: "网关超时。"
};

export const getting = (url: string, parmas?: object): Promise<any> => {
  const urlWithparams = generateGetUrlWithparams(url, parmas);
  return new Promise((resolve, reject) => {
    Taro.request({
      method: "GET",
      url: urlWithparams,
      header: {
        withCredentials: true,
        "Content-Type": "Application/json;charset=UTF-8"
      }
    })
      .then(response => {
        resolve(response.data);
      })
      .catch(error => {
        if (error && error.statusCode) {
          const errorText = codeMessage[error.statusCode] || error.statusText;
          // const { status, url } = error;

          Taro.showToast({
            // title: `请求错误 ${status}: ${url}`,
            title: errorText,
            icon: "none",
            duration: 2000
          });
        }
        reject(error);
      });
  });
};

export const posting = (url: string, params: Object = {}): Promise<any> => {
  return new Promise((resolve, reject) => {
    Taro.request({
      method: "POST",
      url,
      data: JSON.stringify(params),
      dataType: "json",
      header: {
        //'Content-Type': 'Application/x-www-form-urlencoded;charset=UTF-8',
        "Content-Type": "Application/json;charset=UTF-8"
      }
    })
      .then(response => {
        resolve(response.data);
      })
      .catch(error => {
        console.log(222)
        if (error && error.statusCode) {
          const errorText = codeMessage[error.statusCode] || error.statusText;
          // const { status, url } = error;

          Taro.showToast({
            // title: `请求错误 ${status}: ${url}`,
            title: errorText,
            icon: "none",
            duration: 2000
          });
        }
        reject(error);
      });
  });
};

const generateGetUrlWithparams = (url: string, params?: object): string => {
  if (!params) return url;
  let parmasString = `${url}?`;
  for (let paramsName in params) {
    const stringItem = `${paramsName}=${params[paramsName]}`;
    parmasString += stringItem;
  }
  return parmasString;
};

```